@import "formulario";
@mixin txt-index ($color) {
    color: $color;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    padding-top: 20px;
    text-align: center;
    margin-left: 2rem;
    margin-inline-end: 2rem;
}

$estilos: (
    
    "color":royalblue,
    "text-align": center,
    "display": inline
);

/*texto index*/

.main__info{
    @include txt-index(indigo)

}


*{
    margin: 0;
    padding: 0;
}

header{
    text-align: map-get($estilos,"text-align");
   }

.logo{
    width: 250px;
 
    }

    .fotonovia{
        width: 100%;

    }

   

    .imagen-contenedor-modelo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    
    }
        
  .img-modelo{
      margin-left: 25%;

  }

 
h2{
    color: map-get($estilos,"color");
    font-size: 30px;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;

}

p{
    color:indigo;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
}



.infobata{
    color: indigo;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    text-align:justify;
    margin-left: 2rem;
    margin-inline-end: 2rem;
}


nav{
    background-color:orchid;
    display: flex;
    flex: row nowrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.nav-link{
    justify-content: center;
    text-align: center;
}


.link{
    display: inline;
    margin: 0 10px;
    
}

ul{
     text-align:center;
}




a{
    text-decoration: none;
    color:indigo;
}

.galeria__Fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    
   
     
 }

.galeria{
    width: 20rem;
    padding-top: 20px;
    padding-bottom: 20px;
    display: map-get($estilos,"display");
   

}

.site-footer{
    height: 100px;
}


.iconos a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px;
  
}

.iconos a i:hover {
    color: orchid;
    transform: scale(1.1);
    transition: ease-in-out .1s;

}

.preguntas{
    color:royalblue;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    padding-top: 20px;
    text-align: center;
    
    
    
}

.preguntas li{
    list-style-type: none;
}

.respuesta{
    color:indigo;
    margin-left: 2rm;
    margin-inline-end: 2rem
  
}



@media screen and (max-width: 1200px)
{
    .galeria__Fotos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-left: 2rem;     
   } 
}



@media screen and (max-width: 920px)
{
    .galeria__Fotos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-left: 2rem;     
   } 
}
@media screen and (max-width: 768px)
{
    .galeria__Fotos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        margin-left: 2rem;     
   } 
   
.imagen-contenedor-modelo{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
}

.link{
    display:flex ;
    flex-direction: column;
    width: 100%;
    text-align: center;
}


}